<!DOCTYPE html>
<html lang="en">
    <head>
        <title>P&B UI by RCV - Simple</title>

        <link href="./style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="overlay">
            <img src="overlay.png" class="draft-overlay" alt="overlay" style="z-index: 100;" />
            <!-- <img src="underlay.png" class="draft-underlay" alt="underlay" style="z-index: -100;" /> -->

            <div class="draft-header">
                <div class="bans blue" id="bans_blue"></div>
                <div class="middle">
                    <div class="bot flex-center">
                        <span class="phase-text" id="phase">PICK PHASE 2</span>
                    </div>
                    <div class="timer-container">
                        <div class="red timer flex-vcenter">
                            <span class="big-text" id="red_timer">:00</span>
                        </div>
                        <div class="red timer flex-vcenter">
                            <span class="big-text" id="blue_timer">:00</span>
                        </div>
                    </div>

                </div>
                <div class="bans red" id="bans_red"></div>
            </div>

            <div class="draft-content">
                <div class="picks blue" id="picks_blue"></div>
                <div class="picks red" id="picks_red"></div>
            </div>


            <div class="draft-footer">
                <div class="top flex-vcenter score-text-container">
                    <span class="score-text" id="score-blue">0</span>
                </div>
                <div class="blue text flex-vcenter">
                    <span class="big-text" id="blue_name">TEAM 1</span>
                </div>

                <div class="logo-placeholder">
                </div>

                <div class="red text flex-vcenter">
                    <span class="big-text" id="red_name">TEAM 2</span>
                </div>
                <div class="top flex-vcenter score-text-container">
                    <span class="score-text" id="score-red">0</span>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="../../frontend/frontend-lib.js"></script>
        <script src="./script.js"></script>
    </body>
</html>
