body {
    margin: 0;
    overflow: hidden;

    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

:root {
    --bar-height: 150px;
    --bar-text-width: 660px;
    --bar-timer-width: 170px;
    --bar-middle-width: 200px;
    --bar-big-text-size: 80px;

    --bar-blue-text-margin: 0 0 0 30px;
    --bar-red-text-margin: 0 30px 0 0;

    /* --debug-color-green: rgba(0, 255, 0, 0.5); */
    /* --debug-color-yellow: rgba(255, 255, 0, 0.5); */
}

.flex-vcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

#overlay > img {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    position: absolute;
}

#bar {
    height: var(--bar-height);
    width: 100%;
    position: absolute;
    display: flex;

    background-color: var(--debug-color-green);
}

.text span {
    background-image: linear-gradient(rgb(129,129,129), #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#bar .timer {
    height: 100%;
    width: var(--bar-timer-width);
}
.timer span {
    background-image: linear-gradient(rgb(80,80,80), #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.middle {
    background-color: var(--debug-color-yellow);
    height: 130px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}
.timer-container {
    display: block;
    margin: 5px;
}

#bar .middle .top {
    height: 65%;
}
#bar .middle .bot {
    height: 35%;
}

.score-text-container {
    background-color: var(--debug-color-yellow);
}

.score-text {
    width: 80px;
    margin: 15px;
    font-size: calc(var(--bar-height) * 0.65 * 0.6);
    text-align: center;

    background-image: linear-gradient(rgb(129,129,129), #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.phase-text {
    text-align: center;

    background-image: linear-gradient(rgb(129,129,129), #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#bar .big-text {
    display: block;
    width: 100%;
    line-height: var(--bar-big-text-size);
    font-size: var(--bar-big-text-size);
    height: var(--bar-big-text-size);
    text-align: center;
}

.blue.text {
    width: 500px;
    margin: 0 30px;
    font-size: 50px;
}
.red.text {
    width: 500px;
    margin: 0 30px;
    font-size: 50px;
}

.pick-border {
    background-color: var(--debug-color-yellow);
    width: 400px;
    height: 30px;
}

.draft-header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.draft-content {
    height: 740px;
}

.draft-footer {
    display: flex;
    justify-content: center;
    height: 140px;
    background-color: var(--debug-color-yellow);
    width: 95%;
    margin: 0 auto;
}

.logo-placeholder {
    width: 800px;
    background-color: var(--debug-color-yellow);
}

.draft-underlay {
    position: fixed;
    top: 0;
}

.ban-border {
    background-color: var(--debug-color-yellow);
    width: 30px;
}

.picks {
    position: absolute;
    top: 156px;
    width: 400px;
    height: 720px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    background-color: var(--debug-color-green);
}

.picks.red {
    right: 0;
}

.picks .pick {
    background-color: var(--debug-color-yellow);
    height: 130px;
    width: 100%;
}

.picks .pick .splash {
    background-color: var(--debug-color-yellow);
    width: 100%;
    height: 100px;
}

.picks .pick .text {
    background-image: linear-gradient(rgb(129,129,129), #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 24px;

    margin: 0 10px;
}
.picks.blue .pick .text {
    text-align: right;
}

.picks .pick .splash {
    overflow: hidden;
}
.picks .pick .splash img {
    display: block;
    height: auto !important;
    width: 100%;
    overflow: hidden;
    margin-top: -25px;
}

.bans {
    width: 680px;
    height: 130px;

    margin: 0 37px;

    display: flex;
    justify-content: space-between;

    overflow: hidden;

    background-color: var(--debug-color-green);
}
.bans.red {
    right: 0;
}
.bans.blue {
    flex-direction: row-reverse;
}

.bans .ban {
    overflow: hidden;
    height: 200px;
    margin-top: -25px;
    background-color: var(--debug-color-yellow);
}

.bans .ban .splash {
    width: 122px;
    height: 200px;
}

.bans .ban .splash img {
    width: 500px;
    height: auto;

    margin-top: 0px;
    margin-left: -206px;
}
.bans.red .ban .splash img {
    margin-top: 0px;
    margin-left: -182px;
}

.bans.blue .ban .splash img {
    transform: rotate(15deg);
}
.bans.red .ban .splash img {
    transform: rotate(-15deg);
}
